<!DOCTYPE html>
<html>
<body>

<h1>PMF Studentska sluzba 📗🧑🏻‍🎓</h1>
<h2>Registracija studenta</h2>
<form method="POST" action="{% url 'student-registration' %}">
  {% csrf_token %}
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name">
  <br>
  <label for="jmbg">email</label>
  <input type="text" name="email" id="email">
  <br>
  <input type="submit" value="Register">
</form>

</body>
</html>