<!DOCTYPE html>
<html>
<body>

<h1>PMF Studentska sluzba 📗🧑🏻‍🎓</h1>
<h2>Lista svih studenata</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<a href="/student/register">Register</a>

</body>
</html>